*{

    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box; 

}

body{
    background: grey;


}

h1 {
text-align: center;
color: white;


}
#card {
    
    border-radius: 30px;
    height: 400px;
    width:400px;
    margin: 100px auto;
    position: relative;
    text-align: center;
    
    }


h3 {
    padding-top: 10px;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#front, #back {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    transition: transform 1s;
    backface-visibility:hidden;
    position: absolute;
    color: white;
    padding: 10px;
}

#front {
}

#back {
    transform: rotateY(180deg);
}



#card:hover #front{
    transform: rotateY(180deg);

}

#card:hover #back{
    transform: rotateY(360deg);

    }
    


