@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  --fw-normal: 400;
  --fw-bold: 700;
  --clr: #b7c9e5;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  /* Bg */
  background-image: url("bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  /* dim -> cernter the card */
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-family: 'Oswald', sans-serif;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 400px;
  margin: 2em;
}

.card__content {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card:hover .card__content {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card__front {
  background-color: var(--clr);
  background-image: url("building-bg.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  color: #333;
}

.card__front::before {
  content: '';
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid currentColor;
  -webkit-transform: var(--level-one);
          transform: var(--level-one);
}

.card__title {
  font-size: 3.5rem;
  -webkit-transform: var(--level-three);
          transform: var(--level-three);
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-transform: uppercase;
}

.card__subtitle {
  -webkit-transform: var(--level-two);
          transform: var(--level-two);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: .75rem;
  font-weight: var(--fw-bold);
  opacity: .7;
}

.card__body {
  -webkit-transform: var(--level-two);
          transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: 1.5rem;
  line-height: 1.6;
}

.card__back {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
  color: var(--clr);
  background: #333;
}

#me {
  background-image: url("fog-building-bg.jpg");
}
/*# sourceMappingURL=style.css.map */
